body{
  width: 1300px;
  /*height: 100px;*/
  background-color: #272627; 
  color: white;
  /* background-image: url('assets/logos/rsc.png'); */
}
.center {
  margin: auto;
  width: 100%;
  
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#myCanvas { 
  width:480px; 
  height:270px;
  
}

#myCanvas2 { 
  width:480px; 
  height:270px;
  
}

#TeamImage1 { 
  width:480px; 
  height:270px;
  
}

#TeamImage2 { 
  width:480px; 
  height:270px;
  
}

#VS1 { 
  width:480px; 
  height:270px;
  
}

#VS2 { 
  width:480px; 
  height:270px;
  
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 110px;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn, .div {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover{
  color: #f1f1f1;
}

.button {
  width: 200px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 10px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.rsc {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  opacity: 0.05;
}

#series-dropdown {
  
  background: #444444;
  border: 0px;
  color: #818181;
  width: 210px;
  text-align-last:center;
  border-radius: 5px;
  height: 25px;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 5px;

}

#series-dropdown option {
  background: black;
  }

#tier-dropdown {
  
background-color: #111;
border: 0px;
color: #818181;
width: 160px;

border-radius: 5px;
height: 25px;
font-size: 20px;
margin-top: 6px;
margin-left: 20px;

}

#tier-dropdown option {
  background: black;
  }

*:focus {
    outline: 0;
  }

button:focus {
    outline: none;
    border: none;
    }

#blue-team {
  background-color: #111;
  border: 0px;
  color: #818181;
  width: 160px;
  
  border-radius: 5px;
  height: 25px;
  font-size: 20px;
  margin-top: 6px;
  margin-left: 20px;
  
}

#blue-team option {
  background: black;
  }

#orange-team {
  background-color: #111;
  border: 0px;
  color: #818181;
  width: 160px;
  
  border-radius: 5px;
  height: 25px;
  font-size: 20px;
  margin-top: 6px;
  margin-left: 20px;
}

#orange-team option {
  background: black;
  }

  #tier-dropdown2 {
  
    background-color: #111;
    border: 0px;
    color: #818181;
    width: 160px;
    
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    margin-top: 6px;
    margin-left: 20px;
    
    }
    
    #tier-dropdown2 option {
      background: black;
      }
    
    *:focus {
        outline: 0;
      }
    
    button:focus {
        outline: none;
        border: none;
        }
    
    #blue-team2 {
      background-color: #111;
      border: 0px;
      color: #818181;
      width: 160px;
      
      border-radius: 5px;
      height: 25px;
      font-size: 20px;
      margin-top: 6px;
      margin-left: 20px;
      
    }
    
    #blue-team2 option {
      background: black;
      }
    
    #orange-team2 {
      background-color: #111;
      border: 0px;
      color: #818181;
      width: 160px;
      
      border-radius: 5px;
      height: 25px;
      font-size: 20px;
      margin-top: 6px;
      margin-left: 20px;
    }
    
    #orange-team2 option {
      background: black;
      }
.player-box{
  width: 300px;
  height: 70px;
}

.active-box{
  width: 280px;
  height: 200px;
}

.timer-box{
  width: 300px;
  height: 125px;
}

.map-box{
  width: 380px;
  height: 300px;
  position: relative;
}

.player{
  position: absolute;
  width: 10px;
  height: 10px;
}

.score{
  background-color: rgba(0,23,45,1); 
}

.bg-blue-team{
  background-color: rgba(0,23,45,0.9); 
}

.bg-orange-team{
  background-color: rgba(0,23,45,0.9);  
}

.progress{
  background-color: rgba(0,23,45,0);  
}

.blue-boost{
  background: linear-gradient(90deg, #a7cbfe 0%, #4793ff 60%);
}

.orange-boost{
  background: linear-gradient(90deg, #feddaf 0%, #ffb347 60%);
}
.boost-value{
    text-align: right;
}

.progress-wrap:before{
  content: attr(data-label);
  position: absolute;
  
  left: 16px;
  font-size: 10px;
}

@font-face {
  font-family: RSCfont;
  src: url(assets/fonts/GlacialIndifference-Regular.otf); 
}

@font-face {
  font-family: RSCfontBold;
  src: url(assets/fonts/GlacialIndifference-Bold.otf); 
}

@font-face {
  font-family: Timer;
  src: url(assets/fonts/digital-7.ttf); 
}

.fontTimer{
  font-family: Timer;
}

.fontR {
  font-family: RSCfont;
}

.fontBold {
  font-family: RSCfontBold;
}

@media print {
  table {
    /*border: 0 !important;*/
    border: none;
  }
  #myHeader tr:first-of-type td {
    /*border: 0 !important;*/
    border: none;
  }
}


.flex-container {
  margin: 0px;
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-container > div {
  
  margin: 0px;
  text-align: left;
  padding: 10px;
  font-size: 20px;
  width: 400px;
}

.scoreTop{
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0px;
  width: 250px;
}

.scoreTop1{
  background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 0px;
  width: 250px;
}

.orange-score{
  background: rgb(80,27,0);
  background: linear-gradient(90deg, rgba(80,27,0,1) 0%, rgba(213,70,1,1) 27%, rgba(241,138,0,0.26234243697478987) 75%, rgba(255,173,0,0.08307072829131656) 90%, rgba(255,173,0,0.0) 100%);
  padding: 0px;
}

.blue-score{
  background: rgb(2,0,36);
  background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,0.26) 75%, rgba(75,205,249,0.08307072829131656) 90%, rgba(0,243,255,0.0) 100%);
  padding: 0px;
}

.score{
  background-color: rgb(255, 255, 255);
  padding: 0px;
  width: 50px;
}

.orange{
  background-color: rgb(80,27,0);
  padding: 0px;
  text-align: center;
  width: 50px;
}

.blue{
  background-color: rgb(2,0,36);
  padding: 0px;
  text-align: center;
  width: 50px;
}

.progress {
  position: relative;
}

.bar {
  z-index: 1;
  position: absolute;
}

.progress span {
  position: absolute;
  top: 5;
  z-index: 2;
  text-align: left;
  width: 100%;
  color: black;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: aliceblue;
  border-radius: 50%;
  display: inline-block;  
}

.dotBlank {
  height: 10px;
  width: 10px;
  border:1px solid aliceblue;
  background-color: rgb(80,27,0, 0);
  border-radius: 50%;
  display: inline-block;  
}

.overlay
  {
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    }

.OrangeGoals {
  background: -webkit-linear-gradient(#ffb347, #fcd49c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.BlueGoals {
  background: -webkit-linear-gradient(#4793ff, #a4caff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier {
  position: absolute;
  z-index: 3;
  padding-top: 11px;
  padding-left: 10px;
  color: #070437;
  font-family: 'Lato', sans-serif;
}

.tierOver {
  position: absolute;
  z-index: 3;

}

.blueL {
  position: absolute;
  top: 2px;
  left: 419px;
  z-index: 3;
  opacity: 0.25;
}

.orangeL {
  position: absolute;
  top: 2px;
  left: 1299px;
  z-index: 3;
  opacity: 0.25;
}

.stinger {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 99;
}

.goalO {
  position: absolute;
  top: 2px;
  left: 1130px;
  width: 320px;
  height: 67px;
  z-index: 99;
}

.goalB {
  position: absolute;
  top: 2px;
  left: 470px;
  width: 320px;
  height: 67px;
  z-index: 99;
}

.back
  {
    position:absolute;
    display: block;
  margin-left: 12px;
  margin-right: auto;
  /*width: 50%;*/
    opacity: 1;
    z-index: -1;
  }

  .wins
  {
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
  }

.activeplayer {
  margin-left: -2px;
  margin-top: 625px;
  width: 320px;
  font-size: 30px;
  display: flex;
  flex-direction: column;  
  justify-content: left;
  align-items: center;
  text-align: center;
  background-color: rgba(0,23,45,0); 
  border: none;
  
}

.activeItem {
  align-self: left;
  flex-basis: 90px;
  text-align: center;
  margin-top: -2px;
  font-size: 40px;
  width: 320px;
  border-style: solid;
  border-color:#4793ff;
  border-width: 2px;
  z-index: 3;
  

}

.activeItemOrange {
  align-self: left;
  flex-basis: 90px;
  text-align: center;
  margin-top: -2px;
  font-size: 40px;
  width: 320px;
  border-style: solid;
  border-color:#ffb347;
  border-width: 2px;

}

.blueAL {
  position: absolute;

  left: 20px;
  z-index: 2;
  opacity: 0.15;
}

.orangeAL {
  position: absolute;
  left: 20px;
  z-index: 2;
  opacity: 0.15;
}

.transition{
    
  -webkit-transition: left 0.8s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: left 0.8s ease-out;  /* Firefox 4-15 */
       -o-transition: left 0.8s ease-out;  /* Opera 10.50–12.00 */
          transition: left 0.8s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
#TierOverlay {
  position:relative;
  left:-200px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.OrangeScorer {
  background: -webkit-linear-gradient(#ffb347, #fcd49c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 200px;
  z-index: 6;
}

.assist {
  background: -webkit-linear-gradient(#ffb347, #fcd49c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 6;
}

.glow {
  font-size: 80px;
  background: -webkit-linear-gradient(#ffb347, #fcd49c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 0 0 10px #ffb347, 0 0 5px #ffb347, 0 0 20px rgba(186, 196, 96, 0.5) 0 0 30px rgba(186, 196, 96, 0.5) 0 0 25px rgba(186, 196, 96, 0.5), 0 0 190px rgba(186, 196, 96, 0.5), 0 0 200px rgba(186, 196, 96, 0.5);
}

.shadowfilter {
  -webkit-filter: drop-shadow(0px 0px 15px rgba(186, 196, 96, 0.75));
   filter: drop-shadow(0px 0px 15px rgba(186, 196, 96, 0.75));
}

.underscore{
  display: flex;
  flex-direction: row;  
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 6;
}

.orangeSc {
  position: absolute;
  top: 890px;
  left: 1007px;
  z-index: 6;
  opacity: 0.25;
}

.blueSc {
  position: absolute;
  top: 890px;
  left: 687px;
  z-index: 6;
  opacity: 0.25;
}

.BlueScorer {
  background: -webkit-linear-gradient(#4793ff, #a4caff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 200px;
  z-index: 6;
}

.shadowfilterB {
  -webkit-filter: drop-shadow(0px 0px 15px rgba(96, 128, 196, 0.75));
   filter: drop-shadow(0px 0px 15px rgba(96, 128, 196, 0.75));
}

.glowB {
  font-size: 80px;
  background: -webkit-linear-gradient(#4793ff, #a4caff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 0 0 10px #ffb347, 0 0 5px #ffb347, 0 0 20px rgba(186, 196, 96, 0.5) 0 0 30px rgba(186, 196, 96, 0.5) 0 0 25px rgba(186, 196, 96, 0.5), 0 0 190px rgba(186, 196, 96, 0.5), 0 0 200px rgba(186, 196, 96, 0.5);
}

.bluewins {
  margin: 0px;
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  align-items: center;
  text-align: center;
  
}